/* .modal-hidden {
    display: none;
} */
.modal-show {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modal-content {
   position: relative;
   border-radius: 7px;
   width: 26em;
   height: 26em;
   left: 25%;
   top: 16%;
   background-color: #0074D9;
}
.modal-title {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 4vh;
}
.divider {
    text-align: center;
    color: #83cbf5;
    padding-bottom: 1vh;
    padding-top: 0vh;
    position: relative;
    bottom: 2em;
}
.book-form {

}
